<p>Howdy!</p>

<p><strong>Someone commented on a place you submitted to <em>Where the Phở?</em></strong> Cool beans!</p>

<p>Chickity check it out!</p>

Cheers,<br />
The <em>Where the Phở?</em> Team.