<p>Howdy!</p>

<p>Cool beans! <strong>Someone commented on a place you submitted to <em>Where the Phở?</em></strong></p>

<p>Chickity check it out!</p>

Cheers,<br />
The <em>Where the Phở?</em> Team.