body {
	background: url('/assets/food.png');
	font-family: Arial, Helvetica, sans-serif;
    line-height: 11pt;
    font-size: 10pt;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.navbar.navbar-inverse {
	background: url('/assets/fabric2.png');
	border-radius: 0;
	border: 0;
	-moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-brand {
	color: #faa064;
	font-family: 'VPS Dong Da Hoa', sans-serif;
	font-size: 26px;
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-brand:hover {
	color: #faeb64;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.navbar-inverse .navbar-brand span {
	font-size: 19px;
}

.navbar-collapse {
	border: 0px none;
	box-shadow: none;
}

.pages_container {
	width: 100%;
	margin: 0 auto;
}

.pages {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.navbar-inverse .navbar-toggle {
	background-color: none;
	border: none;
}

.field_with_errors {
	color: #ff3333;
	background-color: #ffeeee;
	border-radius: 3px;
	padding: 8px;
}