body {
	background: url('/assets/food.png');
	font-family: Arial, Helvetica, sans-serif;
    line-height: 11pt;
    font-size: 10pt;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

.clear {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.navbar.navbar-inverse {
	background: url('/assets/fabric2.png');
	border-radius: 0;
	border: 0;
	-moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}

.navbar-inverse .navbar-brand {
	color: #faa064;
	font-family: 'VPS Dong Da Hoa', sans-serif;
	font-size: 26px;
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-brand:hover {
	color: #faeb64;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.navbar-inverse .navbar-brand span {
	font-size: 19px;
}

.navbar-collapse {
	border: 0px none;
	box-shadow: none;
}

.pages_container {
	width: 100%;
	margin: 0 auto;
}

.pages {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.navbar-inverse .navbar-toggle {
	background-color: none;
	border: none;
}

.field_with_errors {
	color: #ff3333;
	background-color: #ffeeee;
	border-radius: 3px;
	padding: 8px;
}

#map-canvas {
        height: 300px;
      }

/*-------begin blockquote styles--------*/

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #9164fa;
  border-right: 2px solid #9164fa;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

/*-------end blockquote styles--------*/

.slider-box {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    left: 0;
    margin-bottom: 10px;
}

.carousel {
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.slider1 {
  background-image: image-url("slider1.jpg");
}

.slider2 {
  background-image: image-url("slider2.jpg");
  background-position: 70%;
}

.item {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.booyah-box img {
  max-width: 100%;
}